# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
# Can be filled with anything
DATABASE_URL=""
# DATABASE URL (Self explanatory)
IMAGEKIT_ID=''
IMAGEKIT_URL=''
IMAGEKIT_PUBLICKEY=''
IMAGEKIT_PRIVATEKEY=''
# Number of iterations for the hash function (number in the form of string)
HASH_ITERATIONS=''
# Hash algorithm name
HASH_DIGEST=''
SERVER_URL="http://localhost:3000"
# Number of products in a page
PAGE_LENGTH=10
# Google maps api
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_MAP_ID=