@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: "#293040";
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center
  }
}
